#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_CoffeeCoin2.0d += debian/examples/*
DEB_INSTALL_MANPAGES_CoffeeCoin2.0d += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix CoffeeCoin2.0d
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f CoffeeCoin2.0-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake CoffeeCoin2.0-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_CoffeeCoin2.0
	src/test_CoffeeCoin2.0

# Ensure wrapper is set executable
binary-post-install/CoffeeCoin2.0d:
	chmod +x $(cdbs_curdestdir)usr/bin/CoffeeCoin2.0d
binary-post-install/CoffeeCoin2.0-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/CoffeeCoin2.0-qt
